.itemtitle{
    padding-top: 20px;
    color: #21CEA1;
}

.list-gebruiker{
    cursor: pointer;
}

.Opslaanknop{
    background-color: #21CEA1;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .Verwijderknop{
    background-color: #df1212;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.Opslaanknop-Verwijderknop-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}