/* styling searchbar */
.searchbar {
  padding-top: 20px;
  padding-left: 20%;
  display: flex;
}

.searchbar input[type='text'] {
  height: 50px;
  width: 70%;
  border: 2px solid #21CEA1;
  outline: none;
  border-radius: 5px;
  color: black;
}

.searchbar button {
  background-color: transparent;
  border: none;
}

.searchbar button img{
  width: 100%;
}
