.chat-container{
    background-color: #21CEA1;
    position: relative;
    height: 900px;
    border-radius: 10px;
}

.chat-box{
    display: block;
    justify-content: center;
    align-items: center;  
    margin: 8px;
    color: black;
}

.message{
    position: relative;
    width: 190%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

.inputfield{
    position: absolute;
    bottom: 2%;
    padding: 3px;
    margin: 5px;
}

.send {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    
}
.sendemail{
    width: 250px;
    height: 35px;
    border-radius: 10px;
}
.clear{
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

.buttons {
    margin: 5px;
}

.download{
    width: 200px;
    height: 35px;
    border-radius: 10px;
}