/*---------------------------- Home Intro ----------------------------*/
.Intro {
  position: relative;
  border-radius: 10px;
  background-color: white;
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Maintain a 16:9 aspect ratio */
.Intro::before {
  content: '';
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.Intro > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo{
    width: 50px;
    height: 60px;
}
/*---------------------------- Content-Buttons ----------------------------*/
.contentSection{
    margin-top: 50px;
    text-align: center;
}

.buttonContainer{
    display: flex; /* Use flexbox for button layout */
    flex-wrap: wrap; /* Allow buttons to wrap when screen size decreases */
    justify-content: center;
    gap: 50px;
    width: 90%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.pageButton{
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    font-size: 28px;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.4));
}
.pageButton:hover{
    background-color: darkgray;
    color: white;
}
.pageButton:active{
    background-color: white;
    color: black;
}

.profilebutton{
    background-color: #2B50EB;
    color: white;
}

.onderzoekbutton{
    background-color: #21CEA1;
}

@media screen and (max-width: 768px) {
    .buttonContainer {
      width: 90%; /* Adjust width for smaller screens */
    }
  
    .pageButton {
      width: 100%; /* Make buttons full width on smaller screens */
      height: 100px; /* Adjust button height for smaller screens */
      font-size: 20px;
    }
  }
