/*---------------------------- Home Intro ----------------------------*/
.Intro {
    border-radius: 10px;
    background-color: white;
    width: 90%;
    height: 300px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.textSection{
    flex-direction: column;
}

.textSection, .imgSection {
    float:left; 
    display:inline; 
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeimg {
    width: 220px;
    height: 240px;
}

.motto{
    color: black;
}

.hometitle{
    font-size: 50px;
}

  
/*---------------------------- Content-Buttons ----------------------------*/
.contentSection{
    margin-top: 50px;
    text-align: center;
}

.buttonContainer{
    display: flex; /* Use flexbox for button layout */
    flex-wrap: wrap; /* Allow buttons to wrap when screen size decreases */
    justify-content: center;
    gap: 30px;
    width: 90%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.pageButton{
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    font-size: 28px;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.4));
}
.pageButton:hover{
    background-color: darkgray;
    color: white;
}
.pageButton:active{
    background-color: white;
    color: black;
}

.profilebutton{
    background-color: #2B50EB;
    color: white;
}

.onderzoekbutton{
    background-color: #21CEA1;
}

@media screen and (max-width: 768px) {
    .buttonContainer {
      width: 90%; /* Adjust width for smaller screens */
    }
  
    .pageButton {
      width: 100%; /* Make buttons full width on smaller screens */
      height: 100px; /* Adjust button height for smaller screens */
      font-size: 20px;
    }
  }
