section {
    text-align: center;
    margin-bottom: 20px;
}

.DataItem{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.DataItem-Field {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 3px 1px black;
}

.subtitle{
    font-size: 20px;
}