.registreer-pagina-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registreer-pagina-container h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.registreer-pagina-container label {
    display: block;
    margin-bottom: 5px;
}

.registreer-pagina-container .inline-p-account-type {
    display: inline-block;
}

.registreer-pagina-container .inline-span-voorwaarden {
    font-size: 11px;
}

.registreer-pagina-container .input-form-field, 
.registreer-pagina-container form {
    margin-bottom: 15px;
    width: 220px;

}

.registreer-pagina-container .input-form-field {
    height: 35px;
    border-radius: 10px;
}

.registreer-pagina-container button {
    margin-bottom: 15px;
    margin-top: 15px;
}

.registreer-pagina-container .registreer-button {
    background-color: rgb(33, 206, 161);
    color: black;
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
}

.registreer-pagina-container .registreer-button:hover {
    background-color: #1dac86;
    color: white;
    box-shadow: 0 0 0 3px #1D234f, 0 0 0 4px #1dac86;
    transition: 0.5s;
  }

.registreer-pagina-container .center-register-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}