.Accepteren-Afwijzen-Container{
    display: flex;
    padding-top: 10px;
}

.Accepteren {
    background-color: #21CEA1;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.Afwijzen {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.BedrijfAccountText{
align-self: left;
}